<section class="big_sale" id ="big_sale">
    <div class = "bigsale_products">
      {% for product in collections.BigSale.products %}
       <div class = "container">
        <img src = "{{ product.featured_image | img_url: 'medium' }}" alt = "Big Sale">
        <div class = "label">
          {{ "Big Sale Products " }}</div>
      <div class = "title">
          {{ product.title }}</div>
      <div class = "link_shopnow">
          {{ "Shopnow" }}</div>
      </div>
      {% endfor %}
</div>
</section>
 

<style>
  .container {
    position: relative;
    text-align: center;
    color: black;
    /*float: left;*/
    width: 20%;
    padding: 5rem 0;
    display: flex;
    gap: 1rem;
    margin-right: 1px;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-top: 5rem;

  }

  /* Top left text */
.label {
  position: absolute;
  top: 50px;
  left: 20px;
 
}

/* Bottom left text */
.link_shopnow{
  position: absolute;
  bottom: 55px;
  left: 20px;
 
}

/* Centered text */
.title {
  position: absolute;
  top: 20%;
  left: 7%;
  font-family: bold;
  }
  .bigsale_product{
      display: flex;
      align-items: center;
      align: center;
      margin: auto;
    width: 500px;
  }

</style>

{% schema %}
{
    "name": "BigSale",
    "settings": [],
    "presets": [
       {
        "name": "BigSale"
    }
    ]
}
{% endschema %}