<section class="big_sale" id ="big_sale">
    <div class = "bigsale_products">
       
      {% for product in collections.BigSale.products %}
        {{ product.title }}
        <img src = "{{ product.featured_image | img_url: 'medium' }}">
      {% endfor %}
</div>
</section>

<style>
</style>

{% schema %}
{
    "name": "BigSale",
    "settings": [],
    "presets": [
       {
        "name": "BigSale"
    }
    ]
}
{% endschema %}